#box {
    width: 100px;
    height: 100px;
    border: 0px solid orange;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    background: deeppink;
    background: url("imgs/팩맨.jpg") left top/100px 100px;
    color: yellow;
    text-shadow: 2px 2px 2px darkred;
    box-shadow: 3px 3px 3px black;
    position: relative;
    transition: right 0.3s, left 0.3s, top 0.3s, bottom 0.3s;
    left: 100px;
    top: 50px;
}